<h1>Create a new account or <%= link_to "Log In", login_path %></h1>


<% if @user.errors %>
    <%= render partial: "shared/error_list", locals: {object: @user} %>
<% end %>

<%= form_for @user, :url => create_user_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "User-fy" %>
<% end %>